<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybookkeeping">

    <application
        android:name=".utils.UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mActivity.SettingActivity"></activity>
        <activity android:name=".mActivity.HistoryActivity" />
        <activity android:name=".mActivity.AboutActivity" />
        <activity android:name=".mActivity.SearchActivity" />
        <activity android:name=".mActivity.RecordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>